*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body{
   background-color: #e9dffa;
}

.nav{
  font-size: 1rem;
  background-color: #7e63aa;
}
/* Flex Container */
.nav .links{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;

 /* justify-content: space-around;*/ 

}
.nav .item:not(:first-child){
  cursor: pointer;
  padding: 1em;
  flex: auto;
}
.nav .item:hover:not(:first-child){
  background-color: #7455a5;
  color: white;
}
.nav .item a{
  text-decoration: none;
  color: #2d374e;
  text-align: center;
}

.nav .item img{
  padding-right: 0.2em;
}
/*
.nav .item{
  list-style: none;
  margin-left: 1em;
}
.nav .item a{
  text-decoration: none;
  color: #2d374e;
  padding: 2em;
  text-align: center;
  font-size: 1rem;
}
.nav .item a:hover{
  text-decoration: none;
  background-color:#7455a5; 
  padding: 1em;
}
*/
.box{
  letter-spacing: 0.05rem;
  width: 450px;
  height: 500px;
  border-radius: 5px;
  margin: 1.2em auto;
  box-shadow: 0 9px 50px hsla(145, 100%, 77%, 0.31);
  padding: 1em;
  background-image: linear-gradient(-228deg, #f09d59 50%, #866eac 50%);
}
.box .form{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px auto;
}
.box .form h2{
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  margin: 1.5em auto 0.5em auto;
  text-align: center;
  color: #2d374e;
}
.box .form .items{
  color: #333;
  padding-left: 6em;
  border-radius: 5px 0px 0px 5px;
}
.box .form .items input{
  
  width: 250px;
  height: 50px;
  margin-top: 1.5em;
  padding: 1.5em;
  
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s linear;
  text-align: center;
  font-size: 15px;
  color: #5E6472;
}

input:focus {
    transform: translateX(-2px);
    border-radius: 5px;
}

.box .form .items input[type="button"] {

  color: #252537;
  background: #5bc3a8;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s linear;

}
.box .form .items input[type="button"]:hover {
  transform: translatey(3px);
  box-shadow: none;
}
.box .form .items .u{
  padding-top: 1em;
  font-size: 1rem;
  line-height: 1.2;
  color: #2d374e;
}
.box .form .items .u a{
  color: #1649be;
  cursor: pointer;
}

footer {
  display: flex;
  background-color:#7e63aa;
  box-shadow: 0 0 10px var(--clr-gray200);
  padding: 1em 0;
  border: var(--radius);
  height: 20%;
  align-items: center;
  column-count: 3;
  column-gap: 10em;
  font-size: 1rem;
  color: #2d374e;
  flex-wrap: wrap;
  width:100%;
}

footer a{
  cursor: pointer;
  padding-left: 2em;
}

footer li{
  cursor: pointer;
}

footer .sm{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.5em;
}

footer .sm li {
  list-style: none;
  width: 40px;
  height: 40px;
  background: #7e63aa;
  border-radius: 50%;
  margin: 0 0.1em;
  cursor: pointer;
}
footer .sm li:hover{
  background: rgb(29, 28, 28);

}
footer .sm li img{
    transform: scale(0.7);
    filter: invert(0.2);
}

@media (max-width:767px){
  .nav .links{
    flex-direction: column;

}
  .nav .item{
    text-align: center;
    width: 100%;
}

}
